:root {
  --ink:      #433633;
  --light_ink: #5c5552;
  --paper:    #decbb7;
  --line:     #8f857d;
  --light_paper: #f7f0f5;
  --accent: #8f857d;
  --font-ui:  "Iowan Old Style", "Palatino Linotype", Georgia, serif;
  --font-mono: "SF Mono", "Menlo", monospace;
  --selected_green: #ccd5ae;
  --small-font: 12px;
  --med-font: 16px;
  --large-font: 20px;
}
body {
    margin: 0 auto;
    background: var(--paper);
    color: var(--ink);
    font-family: var(--font-ui);
}
.screen {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--paper);
  border-left: 1px solid var(--line);
  border-right: 1px solid var(--line);
  padding: 8px;
}
.cell {
  background: var(--light_paper);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border-radius: 8px;
  border: None;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: var(--med-font);
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex:1;
}
.cell_column {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: top;
  flex:1;
  gap: 16px;
  background: var(--paper);
  padding: 8px;
  border-left: 1px solid var(--line);
  border-right: 1px solid var(--line);
}
.subcell{
  background: var(--light_paper);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border-radius: 4px;
  border: None;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: 100%;
}
.selected{
  background: var(--selected_green);
}
.nav_button:hover {
    background: var(--line);
}
.nav_button:active {
    background: var(--light_ink);
    transform: scale(0.98);
    padding: 8px;
    margin: 8px;
}